$bg-color: #212529;
$primary-color: #0E91F6;
$font-color: #fff;
$mask-color: rgba(0,0,0,0.5);

body {
  background: $bg-color;
  color: $font-color;
}

.navbar {
  border-bottom: 4px solid $primary-color;
  opacity: 0.7;
}

#home-sec {
  background: url('../assets/pc.jpeg');
  min-height: 500px;
  background-size: cover;
}

.header-mask{
  background-color: $mask-color;
  min-height: 500px;
}
